p {
    display: inline;
}

.playerscore {
    margin-right: 45px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70%;
}

.selection button {
    font-size: 50px;
}